<!-- <h1>Listing Cheques</h1>
 -->

</style>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<title>KCheques | Online Cheque generator</title>


<meta name="viewport" content="width=device-width, initial-scale=1.0">
<body>
<div class="background"></div>
<div class="content">

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<body>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/cheques" id="home">KCheques</a>
      </div>
      <!-- <div class="divider"></div> -->
      <ul class="nav navbar-nav navbar-right" style="padding-right: 12px">
        <li class="active">
          <form action="" class="navbar-form" id="search" method="get" name=
          "search" role="search">
            <input class="form-control" name="person" placeholder="Search"
            type="text submit">
          </form>
        </li>
        <li>
          <p class="navbar-btn"><a class="btn btn-success" href=<%= new_cheque_path %>>New Cheque</a></p>
        </li>
      </ul>
      <div class="divider"></div>
    </div>
  </nav>
<div class="content">
  <div class="container">
    <div class="row"></div>
    <% if flash[:notice] -%>      
      <div class="alert alert-success">
        <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
        <strong><%= flash[:notice] %></strong>
      </div>
    <% end %>
    <div class="row">
      <% if @cheques.each do |cheque| %>
      <div class="col-md-6" style="padding-bottom: 10px">
        <div class="panel panel-info" style="margin: 20px">
          <div class="panel-heading">
          <h3 class="panel-title pull-left">
            <a class="" href="?person=<%= cheque.name %>"><%= cheque.name %></a> | <%= cheque.creation.strftime("%B #{cheque.creation.day.ordinalize}, %Y") %></h3>
          <%= link_to glyph(:remove), cheque, method: :delete, :class => "btn btn-default pull-right", :style =>"margin-left: 5px" %>
          <a class="btn btn-default pull-right" href=<%= "images/" + cheque.creation.strftime("%Y%m%d") + cheque.id.to_s + ".png"%>><span class="glyphicon glyphicon-download"></span></a>
          <div class="clearfix"></div>
          </div>
          <ul class="list-group">
            <li class="list-group-item">Amount<p class="pull-right" style="text-right">$<%= cheque.money %></p></li>
          </ul>
          <div class="panel-body"><%= image_tag cheque.creation.strftime("%Y%m%d") + cheque.id.to_s + ".png", class: "img-responsive center-block" %></div>
        </div>
      </div>
      <% end.empty? %>
        <div class="col-md-3 "></div>
        <div class="col-md-6">
        <section>
        <div class="alert alert-info text-center">
          There's nothing here yet! Try making a cheque
        </div>
        <div class="col-md-12" style="padding-bottom: 10px">
        <%= image_tag "background.png", class: "img-responsive center-block" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
</body>